/api/target/
/api/.settings/
/api/.classpath
/api/.project
/api/.factorypath
/api/bin/
/api/.idea
/api/digitalid-api.iml
.project
.classpath
application-devlocal.properties
*.jks
/api/src/main/resources/keystore/
ojdbc8.jar
.idea
/api/src/main/resources/application-local.properties
/api/src/test/resources/application-local.properties
