/api/target/
/api/.settings/
/api/.classpath
/api/.project
/api/.factorypath
/api/bin/
/api/.idea
/api/pen-api.iml
.project
.classpath
application-local.properties
application-devlocal.properties
*.jks